@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;400&display=swap');

* {
    margin: 0;
    padding:0;
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 28vh auto auto ;
    grid-template-areas: " header header"
                         "main main " 
                         "footer footer " ;
}

header {
grid-area: header;
background-color: rgb(255, 255, 255);


}

main {
grid-area: main;
background-color: rgb(255, 255, 255);
font-family: 'Montserrat', helvetica,  sans-serif;
}

footer {
grid-area: footer;
background-color: pink;
}

.myheader {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    cursor: pointer;
}

.natasha img {
    width: 50vw;
height: 13vh;
}

.nav {
    text-align: center;
    cursor: pointer;

    
}

#bar1 {
    background-color: rgb(255, 255, 255);
    width: 50vw;
    height: 2.2vh;
    cursor: pointer;
}

#bar2 {
    
  width: 4vw;
  height: 2.5vh;
  background-color: pink;

}


.infobar {
    width: 97.8;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    text-align: center;
    background: #fecccd;
    padding: 20px 0!important;
    font-size: 12px;
    cursor: pointer;
}

.infobar li {
    padding: 5px;
}

.tamanhos h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 15px;
  margin: 0px 30px 10px 0px;
}
.tamanhos {
    margin: 20px 0px 40px 0px;
    list-style: none;
    text-align: end;
    width: 97.2vw;
}

.tamanhos ul {
    font-size: 15px;
}

.tamanhos li {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    transition: 0.5s;
}

.tamanhos li:hover {
background-color: rgb(243, 69, 98);
cursor: pointer;

}

.banner {
    width: 96.2vw;
    cursor: pointer;
  }

  .produtos{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;

  }

  .produtos img {
 max-width: 50%;
  border: 20px;
  padding: 20px;

  }


  .areadeentrega {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 50px 0px 100px 0px;
}

.areadeentrega img {
    width: 375px;
}
  .footer  {
    list-style: none;
    margin: 30px 0px 0px 0px ;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  padding: 10px;
}

footer li {
    list-style: none;
}
   li.imagem1  {
        display: inline-block;
    }

    .imagem {
        border-radius: 10px;
        width: 100%;
    }

    .footer1 h2 {
        font-family: 'Montserrat', helvetica,  sans-serif;
    }

    .footer3 li {
        display: inline-block;
        padding: 10px;
        margin-top: 10px;
    }
    .footer3 h2 {
        text-align: center;
        font-family: 'Montserrat', helvetica,  sans-serif;
    }

    .vallionstech {
        
        width: 100%;
        border-radius: 40px;
    }
    .footer h2 {
        text-align: center;
        font-size: 18px; 
        font-family: 'Montserrat', helvetica,  sans-serif; 
       
      }

      .footer2 p {
        font-family: 'Dancing Script', cursive;
        font-weight: 800;
        padding-top: 10px;
        font-size: 30px;
      }

      .footer2 {
        width: 100%;
        margin-top: 30px;
      }
 

      .footer3 {
        width: 100%;
        margin-top: 30px;
      }
